@font-face {
  font-family: 'LogoFont';
  src: url('../assets/fonts/TheRaveIsInYourPants.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*____________________________header box____________________________*/

#header {
  /* border: 2px solid red; */
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  align-items: center;
  padding-left: 10px;
}

/*____________________________logo anchor____________________________*/

#logo-text {
  font-family: 'LogoFont', sans-serif;
  font-size: 28px;
  display: inline-block;
  position: relative;
  color: var(--primary-blue);
  background: linear-gradient(
    120deg,
    var(--primary-blue) 0%,
    rgba(0, 103, 205, 0.455) 50%,
    var(--primary-blue) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--primary-blue);
  background-size: 150% 100%;
  transition: color 0.3s ease;
}

#logo-anchor:hover #logo-text {
  color: transparent; /* reveal gradient */
  animation: shine-back-forth 2.5s infinite linear;
}

@keyframes shine-back-forth {
  0% { background-position: 500% 0; }
  100% { background-position: -100% 0; }
}

#logo-anchor:hover #logo-underline::after {
  opacity: 0;
  transition: opacity 0.67s ease;  /* 67 reference */
}

#logo-anchor {
  text-decoration: none;
}

#logo-underline {
  background-color: var(--primary-blue);
  width: 242px;
  height: 5px;
  margin-top: 3px;
  border-bottom-left-radius: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#logo-underline::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.283) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 6.7s infinite; /* 67 reference again */
}

@keyframes shine {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}


/*____________________________library anchor____________________________*/

/*____________________________login/signup anchor____________________________*/

/*____________________________search button____________________________*/

#search-button {
  background-color: var(--primary-blue);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  height: 44px;
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.18s ease;
}

#search-button:hover {
  background-color: #0257c6;
}

#searchbar-keystroke-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border: 1px solid rgba(183, 183, 183, 0.39);
  border-radius: 5px;
  width: 27px;
  height: 25px;
  font-size: 13px;
  box-sizing: border-box;
  padding: 0;
  line-height: 1;
  margin-left: 10px;
}

